@font-face {
  font-family: 'Cascadia Mono';
  font-style: normal;
  font-weight: 400;
  src: url('./media/fonts/CascadiaMono-ExtraLight.otf');
}

.App {
  /* min-height: 100svh; */
  padding: 15px;
}
