.header {
  padding: 15px;
  width: calc(100vw - 30px);
  position: fixed;
  display: flex;
  left: 0px;
  top: 0px;
  background-color: white;
  gap: 30px;
  align-items: center;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(34, 60, 80, 0.1);
  -moz-box-shadow: 0px 1px 1px 0px rgba(34, 60, 80, 0.1);
  box-shadow: 0px 1px 1px 0px rgba(34, 60, 80, 0.1);
}
.pseudo_header {
  padding: 15px;
  display: flex;
  background-color: white;
  gap: 30px;
  align-items: center;
}
.logo,
.logo > img {
  width: 48px;
  height: 48px;
}
.label {
  font-family: "Cascadia Mono";
  font-weight: 900;
  font-size: 32px;
}

@media (max-width: 320px) {
  .label {
    font-size: 16px;
  }
}
